{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post" id="quote" style = "display: {{quote}}">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    <div class="section text-center" id="quoted" style="display: {{quoted}}">
                <h2>Stock</h2>
                <p>Symbol: {{ symbol }}</p>
                <p>Name: {{ name }}</p>
                <p>Price: {{ price }}</p>
            </div>
{% endblock %}
